h1 {
    font-family: 'Syne';
    margin: 0;
    font-weight: 800;
    font-size: 128px;
    text-align: center;
    display: inline-block;
    width: min-content;
}

.borderlineAndName {
    display: flex;
    align-items: center;
    gap: 30px;
}

.borderline {
    border: 3px solid black;
    height: 0;
    width: 510px;
}

h2 {
    color: #00BC8F;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}

.email {
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 23px;
    rotate: 270deg;
    position: absolute;
    left: -114px;
    bottom: 140px;
    transition: all ease-in-out 125ms;

    &:hover {
        color: #00BC8F;
        transition: all ease-in-out 125ms;
    }
}

.scrollDownDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 0px;
    bottom: 10px;

    img {
        height: 60px;
        width: 35px;
        animation: bounceAnimation 3s infinite;
    }

    a {
        color: black;
        text-decoration: none;
        font-weight: 300;
        font-size: 23px;
        white-space: pre;
        text-align: center;
        transition: all ease-in-out 125ms;

        &:hover {
            color: #00BC8F;
            transition: all ease-in-out 125ms;
        }
    }
}

.sendAMessageButton {
    color: black;
    text-decoration: none;
    display: none;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 68px;
    border: solid 4px black;
    background-color: #FFFCF3;
    font-family: 'Overpass';
    font-size: 20px;
    margin-top: 70px;
    transition: all ease-in-out 125ms;

    &:hover {
        cursor: pointer;
        background-color: #ffecd2;
        font-weight: bold;
        width: 250px;
        transition: all ease-in-out 125ms;
    }
}

@keyframes bounceAnimation {

    0%,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    60% {
        transform: translateY(-15px)
    }
}


/* Responsiveness */
@media screen and (max-width: 1300px) {
    h1 {
        font-size: 100px;
    }

    .borderline {
        width: 450px;
    }

    h2 {
        font-size: 39px;
    }
}

@media screen and (max-width: 1080px) {
    h1 {
        font-size: 80px;
    }

    .borderline {
        width: 310px;
    }

    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .email {
        left: -89px;
    }

    .scrollDownDiv {
        right: 23px;
    }
}

@media screen and (max-width: 830px) {
    h1 {
        font-size: 45px;
    }

    .borderlineAndName {
        gap: 10px;
    }

    .borderline {
        width: 150px;
    }

    h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    .borderline {
        width: 100px;
    }

    h2 {
        font-size: 21px;
    }

    .sendAMessageButton {
        display: flex;
        margin-top: 50px;
    }

    .email {
        display: none;
    }

    .scrollDownDiv {
        right: 0;
        left: 0;

        a {
            font-size: 16px;
        }

        img {
            height: 50px;
            width: 30px;
        }
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 32px;
    }
}