.dropdownContainer {
    position: relative;
    display: inline-block;
}

.changeLanguageBtn {
    position: relative;
    width: 50px;
    padding: 10px;
    border: solid 2px black;
    cursor: pointer;
}

span {
    background-color: rgba(250, 253, 255, 0.8);
    width: 50px;
    padding: 10px;
    transition: all ease-in-out 240ms;

    &:hover {
        cursor: pointer;
        background-color: rgb(168, 209, 255);
        transition: all ease-in-out 240ms;
    }
}

.languageList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border: solid 2px black;
    border-top: none;
}