a {
    min-width: 580px;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    transition: all ease-in-out 125ms;

    &:hover {
        border: solid 4px black;
        transition: all ease-in-out 125ms;
    }
}


/* Responsiveness */
@media screen and (max-width: 1075px) {
    a {
        font-size: 90px;
    }
}

@media screen and (max-width: 1010px) {
    a {
        font-size: 85px;
    }
}

@media screen and (max-width: 1000px) {
    a {
        font-size: 80px;
    }
}

@media screen and (max-width: 900px) {
    a {
        font-size: 70px;
    }
}

@media screen and (max-width: 840px) {
    a {
        font-size: 50px;
        height: 80px;
        min-width: fit-content;
    }
}

@media screen and (max-width: 570px) {
    a {
        font-size: 35px;
    }
}

@media screen and (max-width: 430px) {
    a {
        font-size: 29px;
    }
}