h2 {
    font-family: "Syne";
    font-size: 56px;
    font-weight: 800;
    margin: 0;
    width: fit-content;
    transition: all ease-in-out 125ms;

    &:hover {
        color: #00BC8F;
        transition: all ease-in-out 125ms;
    }
}

span {
    font-weight: 400;
    font-size: 24px;
}

.portfolioList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project {
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;

    &:hover {
        img {
            filter: grayscale(0%);
            transition: all ease-in-out 500ms;
        }

        .projectInfo {
            translate: 0%;
            // transform: translate(0%);
            opacity: 1;
            transition: all ease-in-out 750ms, opacity 750ms;
        }

        .imageBorder {
            opacity: 1;
            transform: translate(10px, 10px);
            transition: all ease-in-out 250ms;
        }
    }
}

.projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 620px;
        height: 393px;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all ease-in-out 500ms;
    }

    .imageBorder {
        height: 100%;
        width: 100%;
        border: solid 3px black;
        position: absolute;
        opacity: 0;
        transition: all ease-in-out 250ms;
    }
}

.counter {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    translate: -100%;
    // transform: translate(-100%);
    opacity: 0;
    transition: all ease-in-out 750ms, opacity 750ms;
}

h3 {
    font-family: "Syne";
    font-size: 40px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: solid 3px black;
    background-color: #FFFCF3;
    font-family: 'Overpass';
    font-size: 20px;
    transition: all ease-in-out 125ms;

    &:hover {
        background-color: #ffecd2;
        font-weight: bold;
        transition: all ease-in-out 125ms;
    }
}

.row-reverse {
    flex-direction: row-reverse;

    .counter {
        left: 0;
    }

    .projectInfo {
        translate: 100%;
    }

    &:hover {
        .imageBorder {
            transform: translate(-10px, 10px);
        }
    }
}


/* Responsiveness */
@media screen and (max-width: 1200px) {
    .project {
        gap: 30px;
    }

    img {
        width: 570px !important;
        height: 343px !important;
    }
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 50px;
    }

    span {
        font-size: 20px;
    }

    .project {
        height: 360px;
    }

    .counter {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    img {
        width: 520px !important;
        height: 293px !important;
    }

    .links {
        a {
            width: 120px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 890px) {
    h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    img {
        width: 470px !important;
        height: 243px !important;
    }
}

@media screen and (max-width: 840px) {
    .project {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .projectImage {
        margin-top: 60px;
    }

    .projectInfo {
        width: 470px;
        translate: 0% -100%;
    }

    .row-reverse {
        .projectInfo {
            translate: 0% -100%;
        }
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 30px;
    }

    .counter {
        font-size: 23px;
    }

    .projectImage {
        margin-top: 50px;

        img {
            width: 316px !important;
            height: 200px !important;
        }
    }

    .projectInfo {
        width: 316px;
    }
}

@media screen and (max-width: 440px) {
    h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 382px) {
    h2 {
        font-size: 35px;
    }
}